/*MAIN*/
main {
    width: 70%;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 2% 0 2% 0;
}

main figure img {
    width: 70%;
    margin-left: 15%;
}

h2 {
    margin: 2% 0 0 0;
    color: blue;
}

p {
    text-align: justify;
    font-size: 1.5em;
    margin: 2% 0 2% 0;
}